body {
	font-family:Arial, Sans-Serif;
}

#container {
	width:100%;
	margin:0 auto;
}

form label{
	display:inline-block; 
	width:100%;
}   

label, input {
	display: block;
}   
  
label {
	margin-top: 7px;
	margin-bottom: 7px;
}   

h1{ 
	text-align: center; 
	padding-bottom:2%;
}   

.btn-default {
	background: #fff;
	color: #000;
}
   
.btn-default:hover {
}   
